.main {
  position: relative;
  top: 100px;
  width: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-column {
  width: 88%;
  display: flex;
  flex-direction: column;
  margin-top: 2%;
}

.row-1 {
  background-image: url("../resour/ngang-nho-1-1667626497.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 422px;
}

.row-2 {
  display: flex;
  flex-direction: row;
  margin-top: 3%;
  width: 105%;
}

.product-category {
  width: 18%;
}

.product-list {
  width: 65%;
  padding-left: 2%;
}

.title-category {
  color: black;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 750;
  letter-spacing: 1px;
  border-bottom: 1px solid rgb(228, 220, 189);
  display: block;
  height: 24px;
}

.category-opt {
  display: block;
}

.item-category {
  color: black;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  text-transform: uppercase;
  border-bottom: 1px solid rgb(228, 220, 189);
  height: 48px;
  display: flex;
  align-items: center;
}

.title-product {
  color: black;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 750;
  letter-spacing: 1px;
  border-bottom: 1px solid rgb(228, 220, 189);
  display: block;
  height: 24px;
  width: 94%;
}

.next-btn {
  height: 36px;
  width: 44px;
  background-color: rgb(255, 249, 249);
  margin-left: 4px;
  border-radius: 3px;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paginate-btn svg {
  height: 30px;
}

.opacity-5 {
  opacity: 0.3;
}

.next-btn:hover {
  background-color: rgb(198, 198, 198);
  /* color: rgb(241, 236, 236); */
  cursor: pointer;
}

.paginate-not-al:hover {
  cursor: not-allowed;
  background-color: rgb(255, 249, 249);
}

.product-list-container {
  width: -webkit-fill-available;
  position: relative;
  top: 14px;
  display: inline-block;
}

.next-product-list {
  display: flex;
  height: 80px;
  width: 90%;
  text-align: center;
  justify-content: center;
}

.product-item-container {
  height: 530px;
  width: 30%;
  float: left;
  margin-right: 2%;
  margin-bottom: 1%;
  transition: all 0.1s ease-in-out;
  border-radius: 4px;
}

.product-item-container:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.product-color {
  height: 14px;
  width: 14px;
  margin-top: 8px;
  border-radius: 100%;
  border: 1px solid rgb(123, 120, 120);
}

.product-image {
  width: 100%;
  border-radius: 4px;
}

.product-price {
  font-size: 16px;
  color: black;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 40px;
}

.product-detail-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  font-size: 14px;
  color: rgb(95, 92, 92);
  text-transform: capitalize;
}

.hoverCategory:hover {
  cursor: pointer;
}

.red {
  background-color: red;
}

.pink {
  background-color: pink;
}

.green {
  background-color: green;
}

.black {
  background-color: rgb(4, 5, 4);
}

.blue {
  background-color: blue;
}

.white {
  background-color: rgb(248, 248, 250);
}
